body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.green-color{
    color: mediumseagreen;
}

.p-hero {
    color: rgb(133, 80, 255);
}

.flex-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg, mediumseagreen, #62b889);
    padding: 10px 20px;
    border-radius: 5px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.middle-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 50px;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.experience-item{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
}

#experienced-dev{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(mediumseagreen, #5ddabf);
    border-image-slice: 1;
}

footer small{
    display: block;
    text-align: center;
    padding: 20px;
}
